/* POSICIONAMIENTO */

/* div {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
    float: left
}

.diferente {
    position: relative;
    top: 200px;
    bottom: 0px;
    left: 150px;
    right: 0px;
} */


/* IMAGENES */

/* div {
    background-color: coral;
    width: 100%;
}

img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 100%;
    border: 10px solid black;
} */

/* LISTAS */

.menu {
    width: 100%;
    background-color: black;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: white;
}

.menu li a:hover {
    background-color: gray;
    color: coral;
}